<div class="navbar bg-base-100 border-b border-white" style="background-color: black;">
    <div class="navbar-start">
        <a  href="/Post"><img style="width: 150px;height: 50px;" src="/newLogo.png" alt=""></a>
      </div>
    <div class="navbar-end" style="margin-right: 25px;">
     <p>LOGIN</p>
     
    </div>
    
    
  </div>