<!DOCTYPE html>
<html lang="en" style="background-color: black;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started</title>
    <%- include('./components/script') %>

</head>
<body>
    <%- include('./components/navbar') %>

    <div style="display: flex; justify-content: center; margin: 10px;">

        <img src="/logoWithTagline.png" alt="">
        
    </div>
    
    <div style="display: flex; justify-content: center;">

        <button class="btn" style="font-size: 20px; font-family: sans-serif; background-color: #ff8225; color: black;">Wanna Make One ? </button>
        
    </div>

  
  


    
</body>
</html>