<!DOCTYPE html>
<html lang="en" style="background-color: black;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FakeBook</title>
  <%- include('./components/script') %>
</head>

<body>
  <% if (RoleError) { %>
    <div class="alert alert-danger">
        <%= RoleError %>  
    </div>
<% } %>


  <%- include('./components/navbar') %>

  <div>
    
  </div>
   

</body>

</html>